# Mastodon API
MASTODON_ACCESS_TOKEN=your_mastodon_access_token_here
MASTODON_INSTANCE_URL=https://mastodon.social

# Cookie file for Selenium-based platforms (X, Quora)
# Export from Firefox: about:addons > Cookie Quick Manager > Export all
COOKIE_FILE=/home/baguspermana7/session_cookies_article17.json

# X/Twitter profile for verification
X_PROFILE_URL=https://x.com/bagusdwiperman9

# Quora profile for verification
QUORA_VERIFY_URL=https://www.quora.com/profile/Bagus-Dwi-Permana-1/posts
